.wraper {
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    padding: 0 5px;
    overflow: hidden;
}

section.profit {
    background: #232324;
    padding: 15px 0;
}

section.profit .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #ff0;
}

section.profit .item {
    text-align: center;
    margin: 15px;
    flex-basis: 300px;
}

section.profit .item .subtitle {
    color: #fff;
    font-size: 1.5rem;
    margin: 3px 0;
}

section.profit .item .text {
    color: #d94948;
}