@import "project.scss";
@import "smart-grid.scss";
@include reset(); //примесь из файла smartgrid.scss;
.wrapper {
    @include wrapper(); //примесь wrapper из smartgrid.scss для центровки сайта
}

/* .debug {
    @include debug(rgba(0, 0, 0, 0.5), #ff0);
} */

.humans {
    background: $color_green;
    padding: 10px 0;
    h2 {
        color: $color_black;
    }
    .h2sub {
        color: #fff;
    }
    .items {
        @include row-flex(); //задаем flex- контейнер
        @include xs(justify-content, center);
        .item {
            @include col(); //стратегия
            @include size(3); //размер
            @include size-md(6); //md
            @include size-xs(10);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            text-align: center;
            background: #fff;
            /*для первой картинки приходится использовать flex вручную - тут smartgrid не поможет...*/
            display: flex;
            flex-direction: column;
            img {
                margin: 10px auto;
                width: 90%;
            }
            .subtitle {
                color: #6cc372;
                font-size: 24px;
                margin: 10px;
            }
            .job {
                /*прописываем отступы чтобы выровнить кнопку у первой картинки */
                margin: auto 10px 10px 10px;
            }
            .follow {
                background: #6cc372;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}